DISCORD_BOT_TOKEN=
DISCORD_MEMBER_ROLE_ID=
DISCORD_LINK_PANEL_CHANNEL_ID=1541586289281859654
DISCORD_VIP_ROLE_MAP=
DISCORD_STATUS_CHANNEL_ID=1495458159848980520
MINECRAFT_STATUS_FILE=C:/Minecraft-Server/plugins/RedeLhamaConnect/server-status.json
STATUS_DISPLAY_ADDRESS=localhost:25565
STATUS_REFRESH_INTERVAL_MS=60000
STATUS_STALE_AFTER_MS=120000
STATUS_PANEL_TITLE=Em breve
STATUS_PLAYERS=0/0
STATUS_ACCENT_COLOR=FF6600
STATUS_IMAGE_ON=https://i.imgur.com/sCfPQoR.jpeg
STATUS_IMAGE_MANUTENCAO=https://i.imgur.com/IsFEUw1.png
STATUS_PANEL_MESSAGE_FILE=./data/link/status-panel.json
LINK_DATA_DIR=./data/link
LINK_PENDING_CODES_FILE=./data/link/pending-codes.txt
LINKED_ACCOUNTS_FILE=./data/link/linked-accounts.txt
LINK_PANEL_MESSAGE_FILE=./data/link/panel-message.json
